/* *********************************** */
/* HEADER */
/* *********************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 155, 125, 0.1);

  /* Because we want header to be sticky later */
  height: 11rem;
  padding: 0 4.8rem 0 0;
  position: relative;
}

/* *********************************** */
/* NAVIGATION */
/* *********************************** */

.navigation__list {
  display: flex;
  gap: 8rem;
  align-items: center;
  list-style: none;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.navigation__link:hover,
.navigation__link:active {
  transform: scale(1.1);
  color: #469b7d;
}

.navigation__cta {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.navigation__contact {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.navigation__phone-number {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 1.4rem;
  font-weight: 600;
}

.icon-headset {
  display: inline-block;
  font-size: 1.6rem;
  display: inline-block;
  color: #469b7d;
  margin-right: 0.5rem;
  -webkit-text-stroke: 1.5px #469b7d;
}

.navigation__phone-text {
  display: inline-block;
  align-self: flex-end;
}

/* MOBILE */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #469b7d;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;

  display: none;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7eb9a4, #387c64);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* MOBILE NAV FUNCTIONALITY */

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

/* ICON */

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button {
  background-color: #fff;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  background-color: #469b7d;
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  background-color: #469b7d;
  top: 0;
  transform: rotate(-135deg);
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 11rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* *********************************** */
/* HERO */
/* *********************************** */

.hero {
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.section-hero {
  background-color: rgb(70, 155, 125, 0.1);
  padding: 4.8rem 0 9.6rem 0;
}

.heading-primary--right-move-in {
  display: block;
  animation: moveInLeft 1s ease-out;
}

.heading-primary--left-move-in {
  display: block;
  animation: moveInRight 1s ease-out;
}

.hero__text-box .paragraph {
  margin-bottom: 4.8rem;
}

.hero__delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.hero__delivered-imgs {
  display: flex;
}

.hero__delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.hero__delivered-imgs img:last-child {
  margin: 0;
}

.hero__delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__delivered-text span {
  color: #df5c0c;
  font-weight: 700;
}

.hero__img {
  width: 110%;
}

.btn--bottom-move-in {
  animation: moveInBottom 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}

/* *********************************** */
/* SECTION-HOW */
/* *********************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-text-box__number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-text-box__description.paragraph {
  font-size: 1.8rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  padding-bottom: 65%;
  border-radius: 50%;
  background-color: #7eb9a4;
  box-shadow: inset 0 0 0 3rem #c8e1d8;
  transition: all 0.3s;
}

.step-img-box::after {
  height: 100%;
  border-radius: 9px;
  background-color: #469b7d;
  opacity: 0.3;
}

.step-img-box__img {
  position: relative;
  width: 65%;
  border-radius: 9px;
}

.step-img-box:hover::before,
.step-text-box:hover + .step-img-box::before {
  width: 70%;
  padding-bottom: 70%;
}

/* *********************************** */
/* SECTION-MEALS */
/* *********************************** */

.section-meals {
  padding: 9.6rem 0;
}

/* FUCTIONALITY */
.meal {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

.meal__side {
  height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;

  overflow: hidden;
  backface-visibility: hidden;
  transition: all 0.8s ease;
}

.meal__side--front {
  background-color: #fff;
}

.meal__side--back {
  background-image: linear-gradient(to right bottom, #fcefe7, #ec9d6d);
  transform: rotateY(180deg);
}

.meal:hover .meal__side--front {
  transform: rotateY(180deg);
}

.meal:hover .meal__side--back {
  transform: rotateY(0);
}

/* STYLING */
.meal__img {
  width: 100%;
}

.meal__content {
  padding: 1.2rem 2.4rem 4.8rem 4.8rem;
}

.meal__tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 100px;
  font-weight: 600;
}

.tag--keto {
  background-color: #eb3b3b;
}

.tag--dukan {
  background-color: #fd911a;
}

.meal__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 5.6rem;
}

.meal__attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal__attribute {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
}

.meal__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal__description {
  position: relative;
  padding: 4.8rem 3.6rem 4.8rem 4.8rem;
}

.meal__about {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 5.6rem;
}

.meal__btn {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
}

.all-recipes {
  margin-top: -3.2rem;
  text-align: center;
}

/* *********************************** */
/* SECTION-TESTIMONIALS */
/* *********************************** */
.section-testimonials {
  padding: 2.4rem 0;
  background-color: rgb(70, 155, 125, 0.1);
  position: relative;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 55fr 45fr;
  column-gap: 4.8rem;
  align-items: center;
}

.testimonials-collection {
  display: grid;
  column-gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 4.8rem;
}

.testimonial {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial__text {
  margin-bottom: 2.4rem;
}

.testimonial__name {
  text-align: right;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  padding: 1.6rem;
}

.gallery__item {
  overflow: hidden;
}

.gallery__item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery__item img:hover {
  transform: scale(1.1);
}

/* *********************************** */
/* SECTION-PRICES */
/* *********************************** */

.section-prices {
  padding: 9.6rem 0;
}

.section-prices__grid-gap {
  column-gap: 12.8rem-;
}

.price-plan {
  border-radius: 11px;
  width: 70%;
  padding: 6.4rem 3.2rem 6.4rem 3.2rem;
}

.price-plan--break {
  justify-self: end;
  border: 2px solid rgb(223, 92, 12, 0.15);
}

.price-plan--rest {
  background-color: rgb(223, 92, 12, 0.15);
}

.plan-header {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 6.4rem;
}

.plan-header__name {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #df5c0c;
  margin-bottom: 2.4rem;
}

.plan-header__price {
  font-size: 4.8rem;
  font-weight: 700;
  color: #333;
}

.plan-header__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.price-plan__sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: -3.2rem;
}

/* *********************************** */
/* FEATURES */
/* *********************************** */

.features {
  padding: 8rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 1.6rem;
  border-radius: 11px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 3.6rem 2.4rem 3.6rem 2.4rem;
  cursor: default;
  transition: all 0.3s;
}

.feature:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature__icon {
  color: #df5c0c;
  font-size: 6rem;
}

.feature__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.feature__text {
  font-size: 1.5rem;
}

/* *********************************** */
/* SECTION-CTA */
/* *********************************** */

.section-cta {
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
}

.video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta-container {
  padding: 10.6rem;
}

.cta {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 4.8rem 8rem;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 11px;
}

.cta .heading-secondary {
  width: 75%;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgb(70, 155, 125, 0.2);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(218, 235, 229, 0.3);
}

.cta-form__btn {
  margin-top: 3.2rem;
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

/* *********************************** */
/* FOOTER */
/* *********************************** */

.footer {
  padding: 4.8rem;
  overflow: hidden;
}

.footer__logo {
  text-align: center;
  margin-bottom: 1.6rem;
}

.footer-grid {
  display: grid;
  column-gap: 30rem;
  grid-template-columns: repeat(2, 1fr);
}

.footer__navigation {
  justify-self: end;
  border-top: 1px solid #333;
  padding-top: 2rem;
}

.footer__list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.footer__link:link,
.footer__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  transform: scale(1.1);
  color: #df5c0c;
}

.footer__social {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 0.6rem;
  width: 39rem;
}

.footer__text {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__social-link:link,
.footer__social-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: #df5c0c;
  padding: .5rem;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.footer__social-link:hover,
.footer__social-link:active {
  transform: scale(1.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.footer__social-link ion-icon {
  color: #fff;
  height: 1.6rem;
  width: 1.6rem;
}
